<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
</head>
<body>
  <div class="content-page">
    <div class="header">
      <h1>Termo Infinite</h1>
    </div>
    <div class="box-of-buttons">
      <button type="button" class="btn btn-outline-light">Jogar</button>
      <button type="button" class="btn btn-outline-light">Preferências</button>
      <button type="button" class="btn btn-outline-light">Sair</button>
    </div>
    <div class="footer"></div>
  </div>
</body>
</html>
