@font-face {
  font-family: 'Nicolast';
  src: url('assets/fonts/Nicolast.ttf') format('truetype');
}

@font-face {
  font-family: 'TheBoldFont';
  src: url('assets/fonts/TheBoldFont.ttf') format('truetype');
}
